.collection_container{
    position: relative;
    display:grid;
    margin: 0 auto;
    width: 65%;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}
.collectible_container{
    border:1px solid black;
    width:60px;
    height:60px;
    border-radius:15px;
}
.collectible_container:hover{
    border:1px solid #ffb900;
}
.collectible_container_absolute{
    position: absolute;
    top: -130px;
    right: -90px;
}
.none{
    border: 1px solid transparent;
}
.none:hover{
    border: 1px solid transparent;
}

@media (max-width: 600px) {
    .collection_container{
        position: relative;
        display:grid;
        margin: 0 auto;
        width: 80%;
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }
    .collectible_container_absolute{
        position: absolute;
        display: none;
    }
    .collectible_container_absolute:hover{
        display: none;
    }
    .none{
        border:1px solid black;
    }
    .none:hover{
        border:1px solid #ffb900;
    }
}