*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body{
  background-color: #dedede;
  font-family: "Montserrat", sans-serif;
  color: #001031;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

@media (max-width: 600px) {
  nav{
    padding: 10px 15px;
  }
}